# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores e IDEs
.vscode/
.idea/
*.suo
*.user

# Node (caso o projeto evolua para usar bundler)
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds
dist/
build/
.cache/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
